<!DOCTYPE html>
<html>
<head>
  <title>UserArticleComments</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ckeditor %>

  <%= csrf_meta_tag %>
</head>



<body background="/images/blac2.png">
<center><h1><font color="green">ARTICLES</font></h1></center>
<table width="1000" height="15">
<tr>
<td bgcolor="gray" width="250" align=center><b><%= link_to "HOME"  %></b></td>
<td bgcolor="gray" width="250" align=center><b><%= link_to "CONTACT US", contacts_path  %></b></td>
<td bgcolor="gray" width="250" align=center><b><%= link_to "ORDER NOW"  %></b></td>
<td bgcolor="gray" width="250" align=center><b><%= link_to "PUBLISHERS"  %></b></td>
</tr>
</table>
<hr>

<%= yield %>
<hr>
<center><h5><font color="aqua">copyright :@articles 2011</font></h5></center>
</body>
</html>
